@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body{
  background: rgb(54,217,182);
  background: linear-gradient(90deg, rgba(54,217,182,1) 25%, rgba(32,152,150,1) 75% 50%);
}

h1, h2, h3, h4, h5, p, span, strike{
  font-family: 'Montserrat', sans-serif;
}

#author-container{
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;

  margin-top: 100px;
  margin-bottom: 100px;

  justify-content: space-around;
  align-items: flex-start;
}

#form-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding: 40px;
}

#submit{
  background-color: #36d9b6;
  border-radius: 0;
  border: 0;
  color: #fff;
}

.flex-wrapper{
  display: flex;
}

.item-wrapper{
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
  color: #686868;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}

.task-wrapper:hover{
  background-color: #F0F0F0
}
